* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.ismg {
  width: 25px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.main-chats {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
}


ul{
  list-style: none;
}



.main-header{
  border-bottom: 1px double #333333;
  display: flex;
  justify-content: space-between;
}

.status.online::before {
  content: "●" ;
  color: green;
  padding-right: 10px;

}

.status.offline::before {
  content: "●";
  padding-right: 10px;

  color: red;
}

button {
  cursor: pointer;
}

.text{
  padding: 10px;
  width: 95%;
  border-radius: 7px;
  border: 1px solid #333333;
}

.chat-messages{
  background-color: rgba(184, 245, 209, 0.336);
  flex-direction: column;
  padding: 20px;
  display: flex;
  gap: 20px;
  overflow-y: auto 
  ;
}

/* sidebar*/

  .sidebar {
  width: 300px;
  border-right: 1px solid #3b3636;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  gap: 20px;
  height: 100vh;
  align-items: flex-start;
}

.search {
  width: 250px;
  padding: 10px;
  border: 1px solid #5f5c5c;
  border-radius: 10px;
}

/* contact*/

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: px;
  cursor: pointer;
  border-radius: 8px;
}

.contact-active {
  background-color: #b6afafbb;
  border-radius: 8px;
  
}

.contact:hover {
  background-color: #a8a4a4;
}

.contact img {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10%;
}

.contact h4 {
  font-size: 14px;
}

/* chat*/

.chats {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.chat-actions{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}


.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header div{
  flex: 1;
}

.chat-header p {

  margin: 0;
  font-size: 12px;
  color: #838181;
}

.chat-actions button {
  background: none;
  border: none;
  font-size: 18px;
  margin-left: 8px;
  cursor: pointer;
}

.chat-actions button:hover {
  opacity: 0.7;
}




.chat-messages {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.message.sent {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffffb4;
  width: fit-content;
  margin-left: auto;
}

.message.received {
  background-color: #8a9ed652;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
}

.timestamp {
  font-size: small;
  color: gray;
}




text {
  padding: 10px;
  width: 95%;
  border-radius: 7px;
  border: 1px solid #838181;
}
.chat-footer {
  padding: 20px;
  display: flex;
  border-top: 1px double #838181;
  align-items: center;
  gap: 30px;
}









/* tablet 880px*/

@media (max-width: 880px) {
  .sidebar {
    display: none;
  }
  .message {
    width: 90%;
  }
  .header {
    display: inline-block;
  }
  .chat-header {
    display: inline-block;
  }
  .chat-buttons {
    justify-content: center;
  }
  .main-chats{
    grid-template-columns: 1fr;
  }
}

